<img src="/img/logo.png" alt="Logo" height="50" width="150">
<div class="container">
  <h1>Register</h1>
  <h2>nCrypt's annual tech symposium is back for 2020 and promises to be bigger and better than ever. Take a look at our
    13
    new and exciting <a href="https://ncrypt.net.in">events</a> .<br>
    Last date of registration is 12th August 2020</h2>
  <h3>{{oyehoye}}</h3>
  <h3>{{fields.zeroEventsError}}</h3>
  <form autocomplete="off" action="/" method="POST">
    <div class="firstpart">
      <div class="oneinp">
        <p>School Name</p>
        <input type="text" name="sname" value="{{fields.sname}}">
        <p style="color:red" class="error"> {{fields.schoolNameError}} </p>
      </div>
      <div class="twoinp">
        <div class="first">
          <p>Teacher in-charge Name</p>
          <input type="text" name="tname" value="{{fields.tname}}">
          <p style="color:red" class="error"> {{fields.teacherNameError}} </p>
        </div>
        <div class="second">
          <p>Teacher in-charge Phone Number</p>
          <input type="text" name="tphone" value="{{fields.tphone}}">
          <p style="color:red" class="error"> {{fields.teacherPhoneError}} </p>
        </div>
      </div>
      <div class="oneinp">
        <p>Teacher in-charge E-mail ID</p>
        <input type="text" name="temail" value="{{fields.temail}}">
        <p style="color:red" class="error"> {{fields.teacherEmailError}} </p>
      </div>
      <div class="twoinp">
        <div class="first">
          <p>Student in-charge Name</p>
          <input type="text" name="stname" value="{{fields.stname}}">
          <p style="color:red" class="error"> {{fields.studentNameError}} </p>
        </div>
        <div class="second">
          <p>Student in-charge Phone Number</p>
          <input type="text" name="stphone" value="{{fields.stphone}}">
          <p style="color:red" class="error"> {{fields.studentPhoneError}} </p>
        </div>
      </div>
      <div class="oneinp">
        <p>Student in-charge E-mail ID</p>
        <input type="text" name="stemail" value="{{fields.stemail}}">
        <p style="color:red" class="error"> {{fields.studentEmailError}} </p>
      </div>
    </div>
    <p class="hider">Hide School Details</p>
    <div class="row">
      <div class="dabba crinbox">
        <input type="checkbox" name="events" value="crin" {{#if check.crinChecked}}checked{{/if}}>
        <p> Create-in </p>
      </div>

      <div class="dabba ppbox">
        <input type="checkbox" name="events" value="prog" {{#if check.ppChecked}}checked{{/if}}>
        <p> Programming</p>
      </div>
      <div class="dabba gamebox">
        <input type="checkbox" name="events" value="game" {{#if check.gameChecked}}checked{{/if}}>
        <p> Gaming</p>
      </div>
      <div class="dabba quizbox">
        <input type="checkbox" name="events" value="quiz" {{#if check.quizChecked}}checked{{/if}}>
        <p> Quiz</p>
      </div>
      <div class="dabba coinbox">
        <input type="checkbox" name="events" value="coin" {{#if check.coinChecked}}checked{{/if}}>

        <p> Crossword </p>
      </div>
      <div class="dabba surpbox">
        <input type="checkbox" name="events" value="surp" {{#if check.surpChecked}}checked{{/if}}>

        <p> Surprise </p>
      </div>
      <div class="dabba filmbox">
        <input type="checkbox" name="events" value="film" {{#if check.filmChecked}}checked{{/if}}>

        <p> Filmmaking </p>
      </div>
      <div class="dabba photobox">
        <input type="checkbox" name="events" value="photo" {{#if check.photoChecked}}checked{{/if}}>

        <p> Photography </p>
      </div>
      <div class="dabba ardubox">
        <input type="checkbox" name="events" value="ardu" {{#if check.arduChecked}}checked{{/if}}>

        <p> Arduino </p>
      </div>
      <div class="dabba ambox">
        <input type="checkbox" name="events" value="am" {{#if check.amChecked}}checked{{/if}}>

        <p> Audio Mixing </p>
      </div>
      <div class="dabba gdbox">
        <input type="checkbox" name="events" value="gd" {{#if check.gdChecked}}checked{{/if}}>

        <p> Group Discussion </p>
      </div>
    </div>

    <div class="crin selectt" style="{{#if check.crinChecked}}display:block{{else}}display:none{{/if}}">
      <div class="head">
        <h1>Create-in</h1>
        <h2>Classes IX-XII</h2>
      </div>
      <div class="inps">
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 1</p>
            <input type="text" name="crin" value="{{fields.crin.[0]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input maxlength="4" type="text" name="crin" value="{{fields.crin.[1]}}">
          </div>
        </div>
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 2</p>
            <input type="text" name="crin" value="{{fields.crin.[2]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input type="text" name="crin" value="{{fields.crin.[3]}}">
          </div>
        </div>
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 3</p>
            <input type="text" name="crin" value="{{fields.crin.[4]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input type="text" name="crin" value="{{fields.crin.[5]}}">
          </div>
        </div>
      </div>
      {{#if check.crinChecked}}{{#if fields.crinPartError}}<p style="color:red" class="error">
        {{fields.crinPartError}}
      </p>
      {{/if}}{{/if}}
    </div>
    <div class="prog selectt" style="{{#if check.ppChecked}}display:block{{else}}display:none{{/if}}">
      <div class="head">
        <h1>Programming</h1>
        <h2>Classes IX-XII</h2>
      </div>
      <div class="inps">
        <div class="threeinp">
          <div class="str">
            <div class="firstp">
              <p>Participant 2</p>
              <input type="text" name="prog" value="{{fields.pp.[3]}}">
            </div>
            <div class="secondp">
              <p>Hackerrank ID</p>
              <input type="text" name="prog" value="{{fields.pp.[4]}}">
            </div>
            <div class="thirdp">
              <p>Class</p>
              <input maxlength="4" type="text" name="prog" value="{{fields.pp.[2]}}">
            </div>
          </div>

        </div>
        <div class="threeinp">
          <div class="str">
            <div class="firstp">
              <p>Participant 2</p>
              <input type="text" name="prog" value="{{fields.pp.[3]}}">
            </div>
            <div class="secondp">
              <p>Hackerrank ID</p>
              <input type="text" name="prog" value="{{fields.pp.[4]}}">
            </div>
            <div class="thirdp">
              <p>Class</p>
              <input type="text" name="prog" value="{{fields.pp.[4]}}">
            </div>
          </div>

        </div>
      </div>
      {{#if check.ppChecked}}{{#if fields.ppPartError}}<p style="color:red" class="error">
        {{fields.ppPartError}}
      </p>
      {{/if}}{{/if}}
    </div>

    <div class="game selectt" style="{{#if check.gameChecked}}display:block{{else}}display:none{{/if}}">
      <div class="head">
        <h1>Gaming</h1>
        <h2>Classes IX-XII</h2>
      </div>
      <div class="inps">
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 1</p>
            <input type="text" name="game" value="{{fields.game.[0]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input maxlength="4" type="text" name="game" value="{{fields.game.[1]}}">
          </div>
        </div>
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 2</p>
            <input type="text" name="game" value="{{fields.game.[2]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input type="text" name="game" value="{{fields.game.[3]}}">
          </div>
        </div>
      </div>
      {{#if check.gameChecked}}{{#if fields.gamePartError}}<p style="color:red" class="error">
        {{fields.gamePartError}}
      </p>
      {{/if}}{{/if}}
    </div>
    <div class="quiz selectt" style="{{#if check.quizChecked}}display:block{{else}}display:none{{/if}}">
      <div class="head">
        <h1>Quiz</h1>
        <h2>Classes IX-XII</h2>
      </div>
      <div class="inps">
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 1</p>
            <input type="text" name="quiz" value="{{fields.quiz.[0]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input maxlength="4" type="text" name="quiz" value="{{fields.quiz.[1]}}">
          </div>
        </div>
      </div>
      {{#if check.quizChecked}}{{#if fields.quizPartError}}<p style="color:red" class="error">
        {{fields.quizPartError}}
      </p>
      {{/if}}{{/if}}
    </div>

    <div class="coin selectt" style="{{#if check.coinChecked}}display:block{{else}}display:none{{/if}}">
      <div class="head">
        <h1>Crossword</h1>
        <h2>Classes IX-XII</h2>
      </div>
      <div class="inps">
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 1</p>
            <input type="text" name="coin" value="{{fields.coin.[0]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input maxlength="4" type="text" name="coin" value="{{fields.coin.[1]}}">
          </div>
        </div>
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 2</p>
            <input type="text" name="coin" value="{{fields.coin.[2]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input type="text" name="coin" value="{{fields.coin.[3]}}">
          </div>
        </div>
      </div>
      {{#if check.coinChecked}}{{#if fields.coinPartError}}<p style="color:red" class="error">
        {{fields.coinPartError}}
      </p>
      {{/if}}{{/if}}
    </div>

    <div class="surp selectt" style="{{#if check.surpChecked}}display:block{{else}}display:none{{/if}}">
      <div class="head">
        <h1>Surprise</h1>
        <h2>Classes IX-XII</h2>
      </div>
      <div class="inps">
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 1</p>
            <input type="text" name="surp" value="{{fields.surp.[0]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input maxlength="4" type="text" name="surp" value="{{fields.surp.[1]}}">
          </div>
        </div>
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 2</p>
            <input type="text" name="surp" value="{{fields.surp.[2]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input type="text" name="surp" value="{{fields.surp.[3]}}">
          </div>
        </div>
      </div>
      {{#if check.surpChecked}}{{#if fields.surpPartError}}<p style="color:red" class="error">
        {{fields.surpPartError}}
      </p>
      {{/if}}{{/if}}
    </div>

    <div class="film selectt" style="{{#if check.filmChecked}}display:block{{else}}display:none{{/if}}">
      <div class="head">
        <h1>Filmmaking</h1>
        <h2>Classes IX-XII</h2>
      </div>
      <div class="inps">
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 1</p>
            <input type="text" name="film" value="{{fields.film.[0]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input maxlength="4" type="text" name="film" value="{{fields.film.[1]}}">
          </div>
        </div>
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 2</p>
            <input type="text" name="film" value="{{fields.film.[2]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input type="text" name="film" value="{{fields.film.[3]}}">
          </div>
        </div>
      </div>
      {{#if check.filmChecked}}{{#if fields.filmPartError}}<p style="color:red" class="error">
        {{fields.filmPartError}}
      </p>
      {{/if}}{{/if}}
    </div>

    <div class="photo selectt" style="{{#if check.photoChecked}}display:block{{else}}display:none{{/if}}">
      <div class="head">
        <h1>Photography</h1>
        <h2>Classes IX-XII</h2>
      </div>
      <div class="inps">
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 1</p>
            <input type="text" name="photo" value="{{fields.photo.[0]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input maxlength="4" type="text" name="photo" value="{{fields.photo.[1]}}">
          </div>
        </div>
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 2</p>
            <input type="text" name="photo" value="{{fields.photo.[2]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input type="text" name="photo" value="{{fields.photo.[3]}}">
          </div>
        </div>
      </div>
      {{#if check.photoChecked}}{{#if fields.photoPartError}}<p style="color:red" class="error">
        {{fields.photoPartError}}
      </p>
      {{/if}}{{/if}}
    </div>
    <div class="ardu selectt" style="{{#if check.arduChecked}}display:block{{else}}display:none{{/if}}">
      <div class="head">
        <h1>Arduino</h1>
        <h2>Classes IX-XII</h2>
      </div>
      <div class="inps">
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 1</p>
            <input type="text" name="ardu" value="{{fields.photo.[0]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input maxlength="4" type="text" name="ardu" value="{{fields.ardu.[1]}}">
          </div>
        </div>
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 2</p>
            <input type="text" name="ardu" value="{{fields.ardu.[2]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input type="text" name="ardu" value="{{fields.ardu.[3]}}">
          </div>
        </div>
      </div>
      {{#if check.arduChecked}}{{#if fields.arduPartError}}<p style="color:red" class="error">
        {{fields.arduPartError}}
      </p>
      {{/if}}{{/if}}
    </div>

    <div class="am selectt" style="{{#if check.amChecked}}display:block{{else}}display:none{{/if}}">
      <div class="head">
        <h1>Audio Mixing</h1>
        <h2>Classes IX-XII</h2>
      </div>
      <div class="inps">
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 1</p>
            <input type="text" name="am" value="{{fields.am.[0]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input maxlength="4" type="text" name="am" value="{{fields.am.[1]}}">
          </div>
        </div>
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 2</p>
            <input type="text" name="am" value="{{fields.am.[2]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input type="text" name="am" value="{{fields.am.[3]}}">
          </div>
        </div>
      </div>
      {{#if check.amChecked}}{{#if fields.amPartError}}<p style="color:red" class="error">
        {{fields.amPartError}}
      </p>
      {{/if}}{{/if}}
    </div>
    <div class="gd selectt" style="{{#if check.gdChecked}}display:block{{else}}display:none{{/if}}">
      <div class="head">
        <h1>Group Discussion</h1>
        <h2>Classes IX-XII</h2>
      </div>
      <div class="inps">
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 1</p>
            <input type="text" name="gd" value="{{fields.gd.[0]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input maxlength="4" type="text" name="gd" value="{{fields.gd.[1]}}">
          </div>
        </div>
        <div class="twoinpp">
          <div class="firstt">
            <p>Participant 2</p>
            <input type="text" name="gd" value="{{fields.gd.[2]}}">
          </div>
          <div class="secondd">
            <p>Class</p>
            <input type="text" name="gd" value="{{fields.gd.[3]}}">
          </div>
        </div>
      </div>
      {{#if check.gdChecked}}{{#if fields.gdPartError}}<p style="color:red" class="error">
        {{fields.gdPartError}}
      </p>
      {{/if}}{{/if}}
    </div>
    <button type="submit">Submit</button>
  </form>
</div>