<h1>
  {{title}}
</h1>
<table style="color:white">
  <tr>
    <th>
      School Name
    </th>
    <th>
      {{school.schoolName}}
    </th>
  </tr>
  <tr>
    <th>
      Teacher in-charge Details
    </th>
    <th>
      {{school.teacherName}}
    </th>
    <th>
      {{school.teacherEmail}}
    </th>
    <th>
      {{school.teacherPhone}}
    </th>
  </tr>
  <tr>
    <th>
      Creative Participants
    </th>
    <td>
      {{school.crinPart.[0]}}
    </td>
    <td>
      {{school.crinPart.[1]}}
    </td>
  </tr>
  <tr>
    <th>
      Programming Participants
    </th>
    <td>
      {{school.ppPart.[0]}}
    </td>
    <td>
      {{school.ppPart.[1]}}
    </td>
  </tr>
  <tr>
    <th>
      Quiz Participants
    </th>
    <td>
      {{school.quizPart.[0]}}
    </td>
    <td>
      {{school.quizPart.[1]}}
    </td>
  </tr>
  <tr>
    <th>
      Crossword Participants
    </th>
    <td>
      {{school.coinPart.[0]}}
    </td>
    <td>
      {{school.coinPart.[1]}}
    </td>
  </tr>
  <tr>
    <th>
      Gaming Participants
    </th>
    <td>
      {{school.gamePart.[0]}}
    </td>
    <td>
      {{school.gamePart.[1]}}
    </td>
  </tr>
  <tr>
    <th>
      Photography Participants
    </th>
    <td>
      {{school.photoPart.[0]}}
    </td>
    <td>
      {{school.photoPart.[1]}}
    </td>
  </tr>
  <tr>
    <th>
      Arduino Participants
    </th>
    <td>
      {{school.arduPart.[0]}}
    </td>
    <td>
      {{school.arduPart.[1]}}
    </td>
  </tr>
  <tr>
    <th>
      Audio Mixing Participants
    </th>
    <td>
      {{school.amPart.[0]}}
    </td>
    <td>
      {{school.amPart.[1]}}
    </td>
  </tr>
  <tr>
    <th>
      Group Discussion Participants
    </th>
    <td>
      {{school.gdPart.[0]}}
    </td>
    <td>
      {{school.gdPart.[1]}}
    </td>
  </tr>
  <tr>
    <th>
      Filmmaking Participants
    </th>
    <td>
      {{school.filmPart.[0]}}
    </td>
    <td>
      {{school.filmPart.[1]}}
    </td>
  </tr>
  <tr>
    <th>
      Surprise Participants
    </th>
    <td>
      {{school.surpPart.[0]}}
    </td>
    <td>
      {{school.surpPart.[1]}}
    </td>
  </tr>
</table>