<h1>
  {{title}}
</h1>
<table style="color:white">
  <tr>
    <th>
      School Name
    </th>
    <th colspan="3">
      {{school.schoolName}}
    </th>
  </tr>
  <tr>
    <th>
      Teacher in-charge Details
    </th>
    <th>
      {{school.teacherName}}
    </th>
    <th>
      {{school.teacherEmail}}
    </th>
    <th>
      {{school.teacherPhone}}
    </th>
  </tr>
  <tr>
    <th>
      Creative Participants
    </th>
    <td colspan="3">
      <div class='chaar'>
        {{school.crinPart.[0]}}
      </div>
      <div class='chaar'>
        {{school.crinPart.[2]}}
      </div>
      <div class='chaar'>
        {{school.crinPart.[4]}}
      </div>
      <div class='chaar'>
        {{school.crinPart.[6]}}
      </div>
    </td>
  </tr>
  <tr>
    <th>
      Programming Participants
    </th>
    <td colspan="3">
      <div class='do'>
        {{school.ppPart.[0]}}
      </div>
      <div class='do'>
        {{school.ppPart.[2]}}
      </div>
    </td>
  </tr>
  <tr>
    <th>
      Quiz Participants
    </th>
    <td colspan="3">
      <div class='chaar'>
        {{school.quizPart.[0]}}
      </div>
      <div class='chaar'>
        {{school.quizPart.[2]}}
      </div>
      <div class='chaar'>
        {{school.quizPart.[4]}}
      </div>
      <div class='chaar'>
        {{school.quizPart.[6]}}
      </div>
    </td>
  </tr>
  <tr>
    <th>
      Crossword Participants
    </th>
    <td colspan="3">
      <div class='chaar'>
        {{school.coinPart.[0]}}
      </div>
      <div class='chaar'>
        {{school.coinPart.[2]}}
      </div>
      <div class='chaar'>
        {{school.coinPart.[4]}}
      </div>
      <div class='chaar'>
        {{school.coinPart.[6]}}
      </div>
    </td>
  </tr>
  <tr>
    <th>
      Gaming Participants
    </th>
    <td colspan="3" style="text-align:center">
      {{school.gamePart.[0]}}
    </td>
  </tr>
  <tr>
    <th>
      Photography Participants
    </th>
    <td colspan="3" style="text-align:center">
      {{school.photoPart.[0]}}
    </td>
  </tr>
  <tr>
    <th>
      Arduino Participants
    </th>
    <td colspan="3">
      <div class='do'>
        {{school.arduPart.[0]}}
      </div>
      <div class='do'>
        {{school.arduPart.[2]}}
      </div>
    </td>
  </tr>
  <tr>
    <th>
      Audio Mixing Participants
    </th>
    <td colspan="3" style="text-align:center">
      {{school.amPart.[0]}}
    </td>
  </tr>
  <tr>
    <th>
      Group Discussion Participants
    </th>
    <td colspan="3">
      <div class='do'>
        {{school.gdPart.[0]}}
      </div>
      <div class='do'>
        {{school.gdPart.[2]}}
      </div>
    </td>
  </tr>
  <tr>
    <th>
      Filmmaking Participants
    </th>
    <td colspan="3">
      <div class='do'>
        {{school.filmPart.[0]}}
      </div>
      <div class='do'>
        {{school.filmPart.[2]}}
      </div>
    </td>
  </tr>
  <tr>
    <th>
      Surprise Participants
    </th>
    <td colspan="3">
      <div class='do'>
        {{school.surpPart.[0]}}
      </div>
      <div class='do'>
        {{school.surpPart.[2]}}
      </div>
    </td>
  </tr>
</table>